<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Inventory</title>
</head>
<body>
    <section class="card">
        <div class="card-wrap">
            <div class="card-content">
                <h1><u>INVENTORY</u></h1>
    <table border="1px solid black">
        <tr bgcolor=" grey">
            <th>Medicine Name</th>
            <th>Stock</th>
            <th>Demand</th>
            <th>Price</th>
            <th>Company</th>
       
        </tr>
        <tr bgcolor="pink">
            <td>Napa</td>
            <td>200</td>
            <td>150</td>
            <td>2</td>
            <td>Square</td>
            
            
        </tr>
        <tr bgcolor="pink">
            <td>Acetaminophen</td>
            <td>170</td>
            <td>100</td>
            <td>80</td>
            <td>Melior Discovery</td>
            
            
        </tr>
        <tr bgcolor="pink">
            <td>Benzonatate</td>
            <td>500</td>
            <td>300</td>
            <td>25</td>
            <td>Locus</td>
            
            
        </tr>
        <tr bgcolor="pink">
            <td>Cyclobenzaprine</td>
            <td>450</td>
            <td>370</td>
            <td>50</td>
            <td>Novo Nordisk </td>
            
            
        </tr>
        <tr bgcolor="pink">
            <td>Doxycycline</td>
            <td>100</td>
            <td>220</td>
            <td>200</td>
            <td>Panacea Biotec</td>
            
            
        </tr>
        <tr bgcolor="pink">
            <td>Entresto</td>
            <td>600</td>
            <td>500</td>
            <td>1000</td>
            <td>Solvay</td>
            
            
        </tr>
        <tr bgcolor="pink">
            <td>Farxiga</td>
            <td>534</td>
            <td>343</td>
            <td>23</td>
            <td>Tasly </td>
            
            
        </tr>
        
    </table>
    <br>
    <a href="caDa.php"><input class="button" type="submit" name="back"  value="Back" ></a>
</div>
</div>
</section>
</body>
</html>